name: Deploy Multi-Docker
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Test Image
        run: docker build -t syedhasnain0099/react-test -f ./client/Dockerfile.dev ./client
      - name: Run Tests
        run: docker run -e CI=true syedhasnain0099/react-test npm test

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_ID }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Prod Images
        run: |
          docker build -t ${{ secrets.DOCKER_ID }}/multi-client ./client
          docker build -t ${{ secrets.DOCKER_ID }}/multi-nginx ./nginx
          docker build -t ${{ secrets.DOCKER_ID }}/multi-server ./server
          docker build -t ${{ secrets.DOCKER_ID }}/multi-worker ./worker

      - name: Push Prod Images
        run: |
          docker push ${{ secrets.DOCKER_ID }}/multi-client
          docker push ${{ secrets.DOCKER_ID }}/multi-nginx
          docker push ${{ secrets.DOCKER_ID }}/multi-server
          docker push ${{ secrets.DOCKER_ID }}/multi-worker

