name: Deploy Multi-Docker
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Test Image
        run: docker build -t syedhasnain0099/react-test -f ./client/Dockerfile.dev ./client
      - name: Run Tests
        run: docker run -e CI=true syedhasnain0099/react-test npm test

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_ID }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Prod Images
        run: |
          docker build -t ${{ secrets.DOCKER_ID }}/multi-client ./client
          docker build -t ${{ secrets.DOCKER_ID }}/multi-nginx ./nginx
          docker build -t ${{ secrets.DOCKER_ID }}/multi-server ./server
          docker build -t ${{ secrets.DOCKER_ID }}/multi-worker ./worker

      - name: Push Prod Images
        run: |
          docker push ${{ secrets.DOCKER_ID }}/multi-client
          docker push ${{ secrets.DOCKER_ID }}/multi-nginx
          docker push ${{ secrets.DOCKER_ID }}/multi-server
          docker push ${{ secrets.DOCKER_ID }}/multi-worker

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v3

      - name: Create EB deployment bundle (Dockerrun only)
        run: |
          test -f Dockerrun.aws.json
          zip -r deploy.zip Dockerrun.aws.json

          # If you ever add EB config files, uncomment this:
          # if [ -d .ebextensions ]; then zip -r deploy.zip .ebextensions; fi

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: multi-docker
          environment_name: MultiDocker-env
          region: us-east-1
          version_label: multi-docker-${{ github.sha }}
          deployment_package: deploy.zip
          wait_for_environment_recovery: true
